.menu-button{
    display: none;
}

.main-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.search-form{
    position: absolute;
    top: 55%;
    left: 5%;
    right: 5%;
    width: 90%;
}

.search-input{
    background-color: rgba(255,255,255,0.9) !important;
    border-radius: 50px !important;
    padding-left: 7px !important;
    margin-right: 10px !important;
    -moz-box-shadow:    3px 4px 6px 1px #405b58 !important;
    -webkit-box-shadow: 3px 4px 6px 1px #405b58 !important;
    box-shadow:         3px 4px 6px 1px #405b58 !important;
}

.search-input::placeholder{
    color:black;
    text-align: center;
}

.dropdown-content{
    position: absolute;
    top: 101%;
    left: 10%;
    border-radius: 5px;
    min-width: 30%;
    background-color: rgba(255,255,255,0.9) !important;
}

.search-button{
    border-radius: 100px;
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
}

.principal{
    background-color: rgba(38, 166, 154, 0.1);
}

.no-margin{
    margin-bottom: 0px;
}

.card-title{
    background-color: rgba(38, 166, 154, 0.8);
    /* opacity: 0.7; */
    width: 100%;
    padding: 5px 24px !important;
    font-weight: 400 !important;
}

.card-content{
    padding: 5px 15px !important;
}

.card{
    border-radius: 5px;
}

.card a{
    color: black;
}

.card:hover{
    transform: scale(1.1,1.1);
}

.titulo{
    font-size: 20px;
}

.precio{
    font-size: 25px;
    padding-top: 9px;
}

.info-restaurante{
    margin-bottom: 0px !important;
}

.tipo-titulo{
    font-size: 4rem;
}

.fixed{
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background-color: rgba(38, 166, 154, 0.4);
    left: 0px;
    right: 0px;
    border-radius: 0px 0px 10px 10px;
}

.fixed-content{
    margin-top: 7px !important;
    margin-bottom: 5px !important;
}

