.menu-button{
    position: fixed;
    bottom: 4%;
    right: 4%;
    z-index: 1000;
}
@media (max-width: 600px) {
    .menu-button{
        display: block;
    }
}
@media (min-width: 601px){
    .menu-button{ 
      display: none;
    }
}