.cookies{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 900;
}

@media (min-width: 1081px){
    .cookies{ 
        height: 7%;
    }
}

@media (max-width: 1080px){
    .cookies{ 
        height: 10%;
      }
}

.close-cookies{
    border-radius: 5px;
    border: 1px solid rgba(197, 169, 169, 0.8);
    background-color: rgba(197, 169, 169, 0.8);
    padding: 0 5px;
    cursor: pointer;
    margin-left: 10px;
}