nav{
    background-color: #26a69a;
}

.nav-container{
    height: 100%;
}

.side-nav{
    background-color: rgba(255, 255, 255, 0.8);
}

.side-nav li.active {
    /* background-color: rgba(0,0,0,0.2);*/
    background: #948E99;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}