.principal{
    background-color: rgba(38, 166, 154, 0.1);
}

.no-margin{
    margin-bottom: 0px;
}

.menu-button{
    display: none;
}

.title{
    position: absolute;
    bottom: 0px;
    padding-left: 5%;
    padding-bottom: 15px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.5), rgba(0,0,0,1));
}

#nombre{
    color: white;
    font-size: 4rem;
}

#subtitulo{
    color: white;
    font-size: 2.5rem;
}

.carousel{
    width: 92%;
    margin-left: 8%;
    height: 300px !important;
}

.carousel .carousel-item{
    width: 30% !important;
}

.photo{
    margin-top: 2%;
}

.content{
    width: 55% !important;
}

.sidecontent{
    margin-left: 3% !important;
}
